<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>A Secured Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h1 layout:fragment="header">ADMIN PAGE</h1>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-5 mx-auto app-description">
            <p>Description of Admin page:</p>
        </div>
    </div>
    <dt>-Username:</dt>
    <dd id="username" th:text="${user.username}">Username
    </dd>
    <dt>-User roles:</dt>
    <dd id="roles" sec:authentication="principal.authorities">Roles</dd>
    <dt>-All Data Principal:</dt>
    <dd id="pri" th:text="${#authentication.principal}"></dd>

    <hr>
    <br>
    <div class="row">
        <img th:src="@{/assets/adminmoto.jpg}" alt="ip_picture" class="img-fluid"
             style="display: block; margin: 0 auto; border: 1px solid black;">
    </div>
</div>
</body>
</html>