<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Users : Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <!--    <script src="/js/jquery-1.7.2.js"></script>-->
    <!--    <script src="/js/pwstrength.js"></script>-->
    <script th:src="@{/js/jquery-1.7.2.js}"></script>
    <script th:src="@{/js/pwstrength.js}"></script>
</head>
<body>
<div class="container">
    <h1 layout:fragment="header">Create User Page</h1>
    <div layout:fragment="content">
        <form id="userForm" th:action="@{/user(form)}" th:object="${createUserCommand}" method="post">
            <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="alert alert-danger">Incorrect
                password confirmation
            </div>

            <div class="row">
                <!-- Username Field -->
                <div class="col-md-6 form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-danger' : ''">
                    <label for="username">User name</label>
                    <input id="username" type="text" class="form-control" th:field="*{username}"/>
                    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                           class="form-text text-danger">Email Error</small>
                </div>

                <!-- Email Field -->
                <div class="col-md-6 form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-danger' : ''">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" th:field="*{email}"/>
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger">Email
                        Error</small>
                </div>
            </div>

            <div class="row">
                <!-- Password Field -->
                <div class="col-md-6 form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-danger' : ''">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control" th:field="*{password}"/>
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="form-text text-danger">Password Error</small>
                </div>

                <!-- Password Confirmation Field -->
                <div class="col-md-6 form-group"
                     th:classappend="${#fields.hasErrors('matchingPassword')} ? 'has-danger' : ''">
                    <label for="matchingPassword">Password Confirmation</label>
                    <input id="matchingPassword" name="matchingPassword" type="password" class="form-control"
                           th:field="*{matchingPassword}"/>
                    <small th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"
                           class="form-text text-danger">Password Confirmation Error</small>
                </div>
            </div>

            <!-- TODO: Add your role toggles here. -->

            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="submit" class="btn btn-primary" value="Register"/>
                </div>
            </div>
        </form>
        <script type="text/javascript">
    $(document).ready(function() {
        options = {
            common: {
                minChar: 8
            },
            ui: {
                showVerdictsInsideProgressBar: true,
                showErrors: true,
                errorMessages: {
                    wordLength: 'Your password is too short',
                    wordNotEmail: 'Do not use your email as your password',
                    wordSequences: 'Your password contains sequences',
                    wordLowercase: 'Use lower case characters',
                    wordUppercase: 'Use upper case characters',
                    wordOneNumber: 'Use numbers',
                    wordOneSpecialChar: 'Use special characters: [~!@#$%^&amp;*,_?]'
                }
            }
        };
        $('#password').pwstrength(options);
    });





        </script>
    </div>

</div>

</body>

</html>
