<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Users : View all</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h1 layout:fragment="header">List of all Users</h1>
<div layout:fragment="content" class="container">
    <div class="pull-right">
        <a type="button" class="btn btn-primary " href="form.html" th:href="@{/user(form)}">Create User</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="text-align: center">Username</th>
            <th style="text-align: center">Created</th>
        </tr>
        </thead>
        <tbody style="background-color: #4CAF50;">
        <tr th:if="${users.userQueryResponseList.empty}">
            <td colspan="3">No users</td>
        </tr>
        <tr th:each="user : ${users.userQueryResponseList}">
            <td><a style="color: black" href="view.html" th:href="@{'user/' + ${user.id}}" th:text="${user.username}">
                Username </a></td>
            <td th:text="${#temporals.format(user.createdAt, 'yyyy/MM/dd HH:mm:ss')}">July 11, 2012 2:17:16 PM CDT</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div  style="margin: 5%; border-style: double; padding: 15px; background-color: #4CAF50;" th:if="${!users.activeUserList.empty}">
            <b style="color:#223D8C">ACTIVE USERS FROM SessionRegistry</b>
            <ul >
                <li th:each="username : ${users.activeUserList}" th:text="${username}">Active User</li>

            </ul>
        </div>
    </div>
    <div class="container" style="text-align: center" sec:authorize="hasAuthority('ADMIN')">
        <div class="row">
            <h1 style="color: red">THIS IS SPECIAL DATA FOR ADMIN AND ROLE_ADMIN AS WELL - hasAuthority('ADMIN')</h1>
            <h4>Choice your destiny!</h4>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary">BLUE PILL</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-warning">ORANGE PILL</button>
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center" sec:authorize="hasRole('ADMIN')">
        <div class="row">
            <h1>THIS IS SPECIAL DATA FOR ROLE_ADMINS - hasRole('ADMIN)'</h1>
            <h4>Choice your destiny!</h4>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary">BLUE PILL ROLE_</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger">RED PILL ROLE_</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>