<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorator="layout">
<head>
    <title>Users : View</title>
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" />-->
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h1 layout:fragment="header">Users : Create</h1>
<div layout:fragment="content" class="container">
    <div class="alert alert-success" th:if="${globalMessage}"
         th:text="${globalMessage}">Some Success message
    </div>
    <hr>
    <div>
        <dl>
            <dt>-ID:</dt>
            <dd id="id" th:text="${user.id}">123</dd>
            <dt>-Date:</dt>
            <dd id="created" th:text="${#temporals.format(user.createdAt, 'yyyy/MM/dd HH:mm:ss')}">
                July 11, 2012 2:17:16 PM CDT
            </dd>
            <dt>-Username:</dt>
            <dd id="username" th:text="${user.username}">Username
            </dd>
            <dt>-Email:</dt>
            <dd id="email" th:text="${user.email}">Email</dd>
            <dt>-User roles:</dt>
            <dd id="roles">
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role}"></li>
                </ul>
            </dd>
        </dl>
        <div class="button-container">
            <a type="button" class="btn btn-danger" sec:authorize="hasAnyRole('ADMIN')"
               href="" th:href="@{'/user/delete/'+ ${user.id}}"
            >Delete
            </a>
            <div class="button-space"></div>
            <a type="button" class="btn btn-warning"
               href="form.html" style="color: green"
               th:href="@{'/user/modify/' + ${user.id}}"
            >Modify
            </a>
        </div>
    </div>
    <hr>
</div>
</body>
</html>