<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../resources/static/css/bootstrap.min.css"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" th:href="@{/}"> Home </a>
            <ul class="nav">
                <li><a th:href="@{/}" href="users/list.html"> Users </a></li>
            </ul>
            <ul class="nav" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <li><a th:href="@{/admin/admin-settings}"> Admin Settings </a></li>
            </ul>
            <ul class="nav" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_SECURED')">
                <li><a th:href="@{/admin/secured}"> Secured Page </a></li>
            </ul>
            <ul class="nav">
                <li><a th:href="@{/admin/IPSecured}"> IP Secured </a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a th:href="@{/reg/logout}" class="menu-right"> Logout </a></li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <a style="color: #62DBF6">User logged:
                        <span sec:authentication="principal.username">No user logged</span>
                    </a>
                </li>
                <li>
                    <a style="color: green ">Roles:
                        <span sec:authentication="principal.authorities">roles</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <section layout:fragment="header">
        <h1>WELCOME TO MY PAGE</h1>
    </section>
    <div layout:fragment="content">WELCOME TO MY PAGE</div>
</div>
</body>
</html>