<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout.html}" - lang="en"
>

<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>
<style>

</style>
<body>
<div class="pt-5">
    <h1 layout:fragment="header" class="login-title"
    >Welcome to spring security app logging</h1>
    <p>This is a training application developed for the purpose of facilitating a course and exploring spring-security. In my free time, I check it to review and refresh my knowledge.</p>

    <p>There are three default users, all sharing the common password admin123:</p>
    <ul>
        <li>admin</li>
        <li>tuser</li>
        <li>runasuser</li>
    </ul>

    <h2>Website Tabs</h2>
    <ul>
        <li><strong>HOME</strong> – accessible to everyone</li>
        <li><strong>Cert</strong> – accessible to everyone</li>
        <li><strong>Users</strong> – accessible to every logged-in and authenticated user
            <ul>
                <li>To create a user, one simply needs to be logged in. Here, you can choose a role for the user.</li>
                <li>To delete a user, one must be ROLE_ADMIN</li>
            </ul>
        </li>
        <li><strong>Admin Settings</strong> – only accessible to ROLE_ADMIN</li>
        <li><strong>Secured Page</strong> – only accessible to ROLE_ADMIN and ROLE_SECURED</li>
        <li><strong>IP Secured</strong> – access possible only from the local host with IP address: 127.0.0.1</li>
        <li><strong>AOP</strong> – ROLE_ADMIN</li>
    </ul>

    <p>Using the signup tab at <a href="http://localhost:8080/reg/signup">http://localhost:8080/reg/signup</a><br>
        Or from the menu, click 'login' and at the bottom, you have the option to Sign up.</p>

    <p>A registered user always has ROLE_USER.<br>
        To register a user, you need to fill out the form and press the REGISTER button.<br>
        A link for activation will be sent to the specified address. Concurrently, you will receive a BARCODE to use Google Authenticator during login.</p>

    <div layout:fragment="content" class="container">
        <div th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"
             class="alert alert-danger">Login Error
        </div>
        <div style="background-color: #28a745 ; font-weight: bold; color: #F4FFE8;"
             th:if="${!#strings.isEmpty(message) and #strings.length(message) > 0}"
             th:text="${message}" class="alert alert-success">Message
        </div>
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>
        <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>
        <div class="row">
            <div class="col-md-5 mx-auto app-description">
                <p>Description of app:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card card-body" style="background-color: #CEDECA">
                    <div th:if="${param.error}" style="color: red"><i>Invalid username and password!</i></div>
                    <div th:if="${param.logout}" style="color: black"><i>You have been logged out.</i></div>
                    <form id="submitForm" th:action="@{/reg/do-logging}" method="post">

                        <div class="form-group required">
                            <lSabel for="username"> Enter your Name / Email:</lSabel>
                            <input type="text" class="form-control text-lowercase" id="username"
                                   name="username" value="">
                        </div>
                        <div class="form-group required">
                            <label class="d-flex flex-row align-items-center" for="password"> Enter your Password:
                                <a class="ml-auto border-link small-xl links" th:href="@{/reg/forgotPassword}">I Forget
                                    Password? </a> </label>
                            <input type="password" class="form-control" id="password" name="password"
                                   value="">
                        </div>
                        <div class="form-group required">
                            <label class="d-flex flex-row align-items-center" for="code">
                                Code:
                            </label>
                            <input type="text" class="form-control" id="code" name="code"
                                   value="">
                            <i class="text-muted col-xs-10">Use Google Authenticator app on your phone to obtain the
                                verification Code</i>
                        </div>

                        <div class="form-group mt-4 mb-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="remember-me" name="remember-me"
                                       data-parsley-multiple="remember-me" value="true">
                                <label for="remember-me"> Remember me? </label>
                            </div>
                        </div>
                        <div class="form-group pt-1">
                            <button class="btn btn-primary btn-block" type="submit"> Log In</button>
                        </div>
                    </form>
                    <p class="small-xl pt-3 text-center">
                        <span class="text-muted"> Not a member? </span>
                        <a th:href="@{/reg/signup}" class="links"> Sign up </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
