<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <meta http-equiv="refresh" content="5;url=/"/>
</head>
<body>
<div class="pt-5">
    <h1 layout:fragment="header" class="login-title">LOGOUT SUCCESS</h1>
    <div layout:fragment="content" class="container">
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>
        <div class="row"></div>
        <div class="col-md-5 mx-auto app-description">
            <h4 style="color: #62DBF6">Good bye:
                <span th:text="${lastLoggedOutUsername}">Good bye no one</span>
            </h4>
        </div>
    </div>
</div>
</body>
</html>
