<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layout.html}">
<head>
    <title>Auth ERROR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
<h1 layout:fragment="header" style="text-align: center">UNAUTHORIZED ERROR PAGE</h1>
<!-- This is where the content for the "content" fragment is specified -->
<div layout:fragment="content" class="container" style="font-size: 24px;">
    <i>The error message: </i>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>
</div>

</body>
</html>