body {
  background: #28a745 !important;

  font-family: 'Muli', sans-serif;
}
    table,th,td
    {
      border:2px solid #0C6619;
    }
    table
    {

      width:20%;
       border:2px solid #0C6619;
    }

    table, thead, tbody{
        border:2px solid #0C6619;
    }

    td
    {
      height:20px;
        border:2px solid #0C6619;
    }
    tr
    {
      background-color:#E9E9E9 ;
      color:#3D5040 ;
    }
    th
    {
      background-color:#E2F3E4;
      color:black;
      text-align: center;
      font-size: 150%;
        border:2px solid #0C6619;
    }

dd {
  display: flex;
  margin-left: 40px;
   font-size: 14px;

}
dt {
  font-size: 15px;
  font-weight: bold;
     border-top: 1px solid #000;
}
dl {
box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.1);
 border-bottom: 3px solid #000;
 border-left: 3px solid #000;
 border-right: 3px solid #000;
  padding: 10px;
   margin: 10px;
}

.custom-container {
    max-width: 1400px; /* or whatever width you desire */
}

.navbar {
    padding-left: 15px;  /* adjust as needed */
    padding-right: 15px; /* adjust as needed */
}

.button-container {
  display: flex;
  align-items: center;
}

.button-space {
  width: 64px;
}

.btn-custom {
  background-color: #4D0571;
  color: white;
}


.btn-custom:hover {
  background-color: #DDC3EA; /* or a different shade of the color */
}

.login-title {
    text-align: center;
    margin-bottom: 3%;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.app-description {
    margin-top: 30px; /* Adjust the margin to position it according to your preference */
    border: 1px solid black; /* Thin black border */
    background-color: #4CAF50; /* Different shade of green, adjust to your preference */
    padding: 10px; /* Add some padding so the content isn't flush against the border */
    border-radius: 5px; /* Optional: Makes the borders rounded for a softer look */
    font-style: italic; /* As per your description styling */
}

  .image-container {
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
  }

  .img-responsive {
    width: 100%;  /* set width to take the full container */
    height: 450px; /* fixed height */
    object-fit: cover;
  }

  .image-row .image-container:not(:last-child) {
    border-right: 0; /* Remove the right border from the first image in each row */
  }

  .cert-title {
      color: #aa1e36; /* Dark grey color */
      text-shadow: 3px 4px 8px #abc538; /* Deep red shadow */

      font-weight: bold; /* Bold font */
      font-style: italic;
      margin: 15px;
      margin-bottom: 50px;
    }

    .cert-image {
      border: 1px solid black;
      max-width: 100%;
      height: auto;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s;
  }

  .cert-image:hover {
      transform: scale(1.05);
  }
